.bg-1559738779_1_ {
    width: 60px; height: 60px;
    background: url('css_sprites.png') -10px -10px;
}


.bg-1559738857_1_ {
    width: 60px; height: 60px;
    background: url('css_sprites.png') -90px -10px;
}


.bg-1559738907_1_ {
    width: 60px; height: 60px;
    background: url('css_sprites.png') -10px -90px;
}


.bg-1559738937_1_ {
    width: 60px; height: 60px;
    background: url('css_sprites.png') -90px -90px;
}


.bg-1559738967_1_ {
    width: 60px; height: 60px;
    background: url('css_sprites.png') -170px -10px;
}


.bg-1559738999_1_ {
    width: 60px; height: 60px;
    background: url('css_sprites.png') -170px -90px;
}


.bg-1559739054_1_ {
    width: 60px; height: 60px;
    background: url('css_sprites.png') -10px -170px;
}


.bg-1559739073_1_ {
    width: 60px; height: 60px;
    background: url('css_sprites.png') -90px -170px;
}


.bg-1559739106_1_ {
    width: 60px; height: 60px;
    background: url('css_sprites.png') -170px -170px;
}


.bg-1559739143_1_ {
    width: 60px; height: 60px;
    background: url('css_sprites.png') -250px -10px;
}


.bg-1559739174_1_ {
    width: 60px; height: 60px;
    background: url('css_sprites.png') -250px -90px;
}